{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "plugins": ["react", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": 0,
    "max-len": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
