.burger {
  display: none;
}

.burger__checkbox {
  display: none;
}

@media (max-width: 550px) {
  .burger {
    display: block;
  }

  .burger__checkbox:checked ~ .burger__list_dark {
    background: #1A1B22;
  }

  .burger__checkbox:checked ~ .burger__list_white {
    background: #FFFFFF;
  }

  .burger__checkbox:checked ~ .burger__list_active {
    height: auto;
    width: 100%;
  }

  .burger__button {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../images/icons/burger-ligth.png');
    cursor: pointer;
  }

  .burger__button_type_dark {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../images/icons/burger-black.png');
  }


  .burger__button-cross {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: url('../../images/close-btn-white.png');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain ;
  }

  .burger__button-cross_type_dark {
    background: url('../../images/close-btn-dark.svg');
  }

  .burger__list {
    position: fixed;
    height: 0px;
    top: 56px;
    left: 0;
    overflow: hidden;
    opacity: 1;
    z-index: 3;
  }

  .burger__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 16px 24px;
  }

  .burger__roster {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .burger__link {
    width: 100%;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 56px;
    text-align: left;
    text-decoration: none;
  }

  .burger__link_white {
    color: #FFFFFF;
  }

  .burger__link_dark {
    color: #1A1B22;
  }

  .burger__link-button {
    width: 100%;
    margin-top: 20px;
    padding: 15px 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
    border-radius: 100px;
    outline: none;
  }

  .burger__link-button_white {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }

  .burger__link-button_dark {
    border: 1px solid #1A1B22;
    color: #1A1B22;
  }

  .burger__link-button_type_hidden {
    display: none;
  }

  .burger__icon-logout {
    margin-left: 5px;
  }
}
