.article {
	width: 400px;
	max-height: 576px;
	border-radius: 16px;
	background: white;
	position: relative;
}

.article__keyword {
	width: 88px;
	height: 40px;
	display: none;
	position: absolute;
	top: 24px;
	left: 24px;
	margin: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	background-color: white;
	border-radius: 10px;
	color: black;
}

.article__keyword_active {
	display: flex;
	justify-content: center;
	align-items: center;
}

.article__link {
	display: flex;
	flex-direction: column;
	margin: 20px 24px 24px;
	text-decoration: none;
}

.article__image {
	width: 400px;
	height: 272px;
	border-radius: 16px 16px 0 0;
	vertical-align: middle;
}

.article__trash {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 24px;
	right: 24px;
	background: #FFFFFF url('../../images/icons/trash.png') no-repeat center;
	border-radius: 8px;
	border: none;
	outline: none;
	cursor: pointer;
}

.article__trash:hover {
	background-image: url('../../images/icons/trash-hover.png');
	transition: .2s;
}

.article__trash:hover::before {
	content: 'Убрать из сохраненных';
	width: 159px;
	height: 40px;
	display: flex;
	justify-content: center;
	background: white;
	box-shadow: 0 10px 22px rgba(59, 74, 116, 0.1);
	border-radius: 10px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: #000;
	align-items: center;
	position: absolute;
	top: 0;
	right: 45px;
}

.article__bookmark {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 24px;
	right: 24px;
	background: #fff url('../../images/icons/bookmark-normal.png') no-repeat center;
	border-radius: 8px;
	border: none;
	outline: none;
	cursor: pointer;
}

.article__bookmark_type_marked {
	background: #fff url('../../images/icons/bookmark-marked.png') no-repeat center;
}

.article__bookmark_type_inactive:hover::before {
	content: 'Войдите, чтобы сохранять статьи';
	width: 182px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 45px;
	background: #fff;
	box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
	border-radius: 10px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: black;
}

.article__bookmark:hover {
	background-image: url('../../images/icons/bookmark-hover.png');
	transition: .2s;
}

.article__date {
	width: 128px;
	font-family: 'Sourcesans', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	align-items: center;
	color: #b6bcbf;
	margin: 0;
}

.article__title {
	width: 352px;
	height: 60px;
	font-family: 'Robotos', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	color: #1a1b22;
	margin: 12px 0 0;
	hyphens:auto;
	-moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.article__content {
	width: 352px;
	height: 110px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #1a1b22;
	margin: 16px 0 0;
	/* overflow: hidden; */
	hyphens:auto;
	-moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.article__source {
	font-family: 'Robotos', 'Arial', sans-serif;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #b6bcbf;
	margin: 18px 0 0;
}


@media screen and (max-width: 900px) {
	.article {
		width: 224px;
	}

	.article__trash {
		top: 8px;
		right: 8px;
	}

	.article__trash:hover::before {
		width: 160px;
		right: 0;
		top: 48px;
	}

	.article__bookmark {
		top: 8px;
		right: 8px;
	}

	.article__keyword {
		top: 8px;
		left: 8px;
	}

	.article__link {
		margin: 16px 16px 0;
	}

	.article__title {
		width: 192px;
		font-size: 22px;
		line-height: 24px;
	}

	.article__content {
		width: 192px;
		margin: 10px 0 0;
	}

	.article__image {
		width: 224px;
		height: 150px;
	}

	.article__source {
		margin: 12px 0 16px;
	}
}

@media screen and (max-width: 550px) {
	.article {
		width: 288px;
	}

	.article__trash {
		top: 16px;
		right: 16px;
	}

	.article__trash:hover::before {
		width: 120px;
		top: 0;
		right: 45px;
	}

	.article__bookmark {
		top: 16px;
		right: 16px;
	}

	.article__keyword {
		top: 16px;
		left: 16px;
	}

	.article__title {
		width: 256px;
		line-height: 26px;
	}

	.article__image {
		width: 100%;
		height: 196px;
	}

	.article__content {
		width: 100%;
	}
}
