
.articles-list {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 80px;
  background: #f5f6f7;
}

.articles-list__title {
  max-width: 712px;
  margin: 0 calc((100% - (400px * 3 + 16px * 2))/2) 64px;
  padding-top: 80px;
  font-family: 'Robotos', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.articles-list__wrapper {
  max-width: 1237px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 16px;
  justify-content: center;
}

.articles-list__button {
  display: block;
  width: 288px;
  height: 64px;
  margin: 64px auto 0;
  cursor: pointer;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: white;
  border-radius: 80px;
  border: none;
  color: #1a1b22;
  outline: none;
}

.articles-list__button:hover {
  background: rgba(255, 255, 255, 0.5);
}

/*для поджатия заголовка */
@media screen and (max-width: 1231px) {
  .articles-list__title {
    margin: 0 calc((100% - (400px * 2 + 16px * 1))/2) 64px;
  }
}

@media screen and (max-width: 900px) {
  .articles-list__title {
    max-width: 336px;
    font-size: 30px;
    line-height: 34px;
    padding-top: 40px;
    margin: 0 calc((100% - (224px * 3 + 8px * 2))/2) 48px
  }

  .articles-list__wrapper {
    max-width: 688px;
    grid-template-columns: repeat(auto-fit, 224px);
    grid-gap: 8px;
  }
}

/*для поджатия заголовка */
@media screen and (max-width: 687px) {
  .articles-list__title {
    margin: 0 calc((100% - (224px * 2 + 8px * 1))/2) 48px;
  }
}

@media screen and (max-width: 550px) {
  .articles-list__wrapper {
    grid-template-columns: repeat(auto-fit, 288px);
    grid-gap: 8px;
  }

  .articles-list__title {
    max-width: 250px;
    padding-top: 32px;
    height: 68px;
    margin: 0 calc((100% - 288px)/2) 24px;
  }
}
