.footer {
  max-width: 1440px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  place-items: center;
}

.footer__wrapper {
  display: flex;
}

.footer__copyright {
  max-width: 433px;
  margin: 0 0 0 104px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #B6BCBF;
}

.footer__links {
  padding: 0;
  display: flex;
  list-style: none;
  place-items: center;
}

.footer__list {
  margin-right: 42px;
}

.footer__link {
  max-width: 192px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-decoration: none;
  color: black;
}

.footer__link:hover{
  opacity: .6;
  transition: all .2s linear;
  cursor: pointer;
}

.footer__social-links {
  margin: 32px 104px 26px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer__social-icon {
  width: 25px;
  height: 25px;
}

.footer__social-link {
  margin-right: 28px;
}

.footer__social-link:last-of-type {
  margin-right: 0;
}

.footer__social-icon:hover {
  opacity: .6;
  transition: all .2s linear;
  cursor: pointer;
}


@media screen and (max-width: 900px) {
  .footer__copyright {
    max-width: 288px;
    margin: 24px 5px 18px 40px; /* second margin is optional */
    text-align: center;
  }

  .footer__links {
    width: 264px;
    margin: 21px auto 21px;
    padding: 0;
  }

  .footer__list {
    margin-right: 20px;
  }

  .footer__list:last-of-type {
    margin-right: 0;
  }

  .footer__social-links {
    margin: 21px 40px 21px 0;
  }
}


@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
  }

  .footer__copyright {
    margin-left: 0;
  }


  .footer__social-links {
    margin-right: 0;
  }
}


@media screen and (max-width: 550px) {
  .footer__copyright {
    width: 288px;
    order: 1;
    margin: 40px 16px 20px;
  }

  .footer__wrapper {
    width: 288px;
    justify-content: space-between;
    margin: 20px 16px 0;
  }

  .footer__links {
    width: 200px;
    height: 72px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .footer__link {
    margin-left: 0;
  }

  .footer__social-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}
